.cancelButton {
    float: right;
    font-weight: bold;
    font-size: 18px;
}

.root {
    padding: 20px 0;
    background: white;
    width: 500px;
    border-radius: 20px;
}

.saveButton {
    font-weight: bold;
    font-size: 18px;
}
