@import '../../Styles/Variables.css';

.root
{

    padding: 20px 15px;
    display: flex;
    align-items: center;
    cursor: default;
    transition: 300ms all;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
}

.root:hover
{
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.projectName
{
    font-size: 20px;
    margin-left: 16px;
    width: 150px;
    border-right: 2px solid var(--border-color);
}

.projectName:hover
{
    color: red;
}

.description
{
    flex-grow: 1;
    color: var(--border-color);
    margin-left: 12px;
    margin-right: 12px;
    border-right: 2px solid var(--border-color);
}

.status
{
    border-radius: 30px;
    padding: 8px;
    border: 2px solid rgb(231, 106, 86);
    color: rgb(231, 106, 86); 
}

.publicStatus
{
    border: 2px solid rgb(100, 200, 172);
    color: rgb(100, 200, 172);
}

.users
{
    width: 250px;
    display: flex;
    margin-right: 12px;
    border-right: 2px solid var(--border-color);
}

.userImg
{
    margin-right: 8px;
}

.restUsers
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: rgb(52, 105, 246);
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
}

.owner
{
    margin-right: 20px;
}