.root {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.spinner {
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: scale(2);
}

.displayName, .description, .privacy, .owner, .sharedWith {
    font-size: 20px;
    margin-bottom: 10px;
}

.displayNameTitle, .descriptionTitle, .privacyTitle, .ownerTitle {
    margin-right: 15px;
    color: grey;
}

.privacyValue {
    margin-right: 10px;
}

.private {
    color: red;
}

.public {
    color: green;
}

.ownerUserCard {
    width: 40%;
    box-shadow: 0 0 10px grey;
}

.sharedWith {
    margin-top: 10px;
}

.sharedWithList {
    width: 40%;
}
