@import "../../components/Variables/Variables.css";

.header {
    height: 100px;
    display: flex;
    padding: 20px 200px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: var(--base-color-purple);
}

.buttonControl {
    margin-left: 10px;
}

.content {
    padding-top: 20px;
    box-sizing: border-box;
    height: 100vh;
    background: url('../../../assets/neural_network.jpg') no-repeat;
    background-size: cover;
}

.logoText {
    color: var(--base-color-yellow);
    margin-right: auto;
    font-size: 30px;

}
