@import "../../components/Variables/Variables.css";

.header {
    height: 100px;
    display: flex;
    padding: 20px 200px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid grey;
    background-color: var(--base-color-purple);
}

.buttonControl {
    margin-left: 10px;
}

.content {
    box-sizing: border-box;
    height: 100vh;
    background: url('../../../assets/neural_network.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.logoText 
{
    color: var(--base-color-yellow);
    margin-right: auto;
    font-size: 30px;
    cursor: pointer;
}

.logoText:hover
{
    text-decoration: none;
    color: var(--base-color-yellow);
}

.innerPage
{
    width: 80%;
    max-width: 1000px;
    background: white;
    margin: 0 auto;
    height: 500px;
    flex-grow: 1;
    padding: 20px;
}
