.userSign
{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    transition: all 300ms;
    cursor: pointer;
}

.userSign:hover
{
    opacity: 0.5;
}


.root
{
    display: flex;
    align-items: center;
}